:root {
  --foreground-inverse: #fff;
  --background: #fbf9f7;
  --border: #e3e1df;
  --disabled: #c3c1bf;
  --muted: #83817f;
  --highlight: #83817f;
  --semimuted: #43413f;
  --text: #23211f;
  --foreground: #000;

  --shadow: #0000000f;
  --error: #bf0000;

  --github-logo: #1f2328;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-inverse: hsl(0, 0%, 0%);
    --background: hsl(0, 0%, 5%);
    --border: hsl(0, 0%, 12%);
    --disabled: hsl(0, 0%, 25%);
    --muted: hsl(0, 0%, 50%);
    --text: hsl(0, 0%, 70%);
    --semimuted: hsl(0, 0%, 70%);
    --highlight: hsl(0, 0%, 90%);
    --foreground: hsl(0, 0%, 90%);

    --shadow: #ffffff1f;
    --error: #bf0000;

    --github-logo: #f0f6fc;
  }
}

html {
  font-size: max(1rem, 1vw);
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Google Sans Flex', sans-serif;
  line-height: 1.5;
  margin: 0;
  transition: opacity 800ms ease-in-out;
}

header {
  background: var(--background);
  height: 3em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: auto;
  max-width: 40rem;
}

nav > a {
  color: var(--muted);
  padding: 0.5em 0.75em;
  text-align: center;
}

nav > a:hover {
  color: var(--foreground);
}

button,
input,
textarea {
  background: var(--foreground-inverse);
  color: var(--foreground);
  font-family: inherit;
}

main {
  padding: 0 5vw;
}

section:not(#hero) {
  margin: 6rem auto;
  padding-top: 6rem;
}

#hero,
#about-me,
#my-work > :not(div),
#my-work > div > :not(.projects):not(.jobs),
.project > *,
.job > *,
#contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

h1:not(#hero h1) {
  color: var(--foreground);
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: -0.025em;
}

a {
  text-decoration: none;
}

p > a {
  color: var(--highlight);
  font-weight: 600;
}

p > a:hover {
  color: var(--foreground);
}

a,
button,
.button {
  transition:
    background 150ms ease-in-out,
    color 150ms ease-in-out,
    opacity 150ms ease-in-out;
}

button,
.button {
  border: 0;
  border-radius: 0.5rem;
  color: var(--foreground-inverse);
  cursor: pointer;
  display: grid;
  font-size: 1em;
  padding: 0.75em 1em;
  place-items: center;
  text-align: center;
}

.primary {
  background: var(--semimuted);
}

.primary:hover {
  background: var(--foreground);
}

.secondary {
  border: var(--foreground) 0.1rem solid;
  color: var(--foreground);
}

.secondary:hover {
  background: var(--shadow);
}

button:disabled,
.button:disabled {
  background: var(--disabled);
  cursor: unset;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.button-group > button,
.button-group > .button {
  box-sizing: border-box;
  max-width: 12em;
  width: 60%;
}

#hero {
  color: var(--muted);
  display: flex;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  min-height: 72vh;
}

#hello {
  color: var(--foreground);
  font-size: min(30vw, 8rem);
  letter-spacing: -0.025em;
}

#i-am,
#i-am > h1 {
  display: inline;
  font-size: min(8vw, 2.5rem);
}

#i-am > h1 {
  color: var(--foreground);
  font-weight: 600;
}

#software-developer {
  font-size: min(8vw, 2.5rem);
}

#my-work > div:not(:first-of-type) {
  margin-top: 6rem;
}

.tabs {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.tabs > * {
  border-radius: 9rem;
  color: var(--muted);
  padding: 0.5em 1em;
  transition:
    background 300ms ease,
    color 300ms ease,
    box-shadow 300ms ease;
}

.tabs > *:hover {
  color: var(--foreground);
}

.tabs > *.active {
  background: var(--shadow);
  box-shadow: 0 0 0.2rem 0.2rem var(--shadow);
  color: var(--foreground);
}

.pagination {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.pagination > * {
  border-radius: 9rem;
  box-shadow:
    0 0 0.2rem 0.2rem var(--shadow),
    inset 0 0 0.2rem 0.2rem var(--shadow);
  height: 1.5rem;
  width: 1.5rem;
  transition: box-shadow 300ms ease;
}

.pagination > *.active {
  box-shadow:
    0 0 0.2rem 0.2rem var(--shadow),
    inset 0 0 0.75rem 0.75rem var(--shadow);
}

.jobs,
.projects {
  display: flex;
  margin: 0 -5vw;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.jobs {
  flex-direction: row-reverse;
}

.jobs::-webkit-scrollbar,
.projects::-webkit-scrollbar {
  display: none;
}

.job,
.project {
  margin: 0.4rem 5vw;
  min-width: calc(100% - 10vw);
  scroll-snap-align: center;
}

.job {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.job-description {
  flex-grow: 1;
}

ul {
  box-sizing: border-box;
  padding: 0 0 0 1.5em;
}

li {
  margin: 0.75em 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.timeline > .line {
  color: var(--muted);
  display: flex;
}

.timeline > .line > * {
  height: 1.5rem;
}

.timeline > .line > :nth-child(2) {
  color: var(--shadow);
  flex-grow: 1;
  margin: 0 -0.15rem;
  z-index: -1;
}

.timeline > .labels {
  display: flex;
  justify-content: space-between;
}

.project-header {
  display: grid;
  place-items: center;
  position: relative;
}

.project-header > img {
  filter: blur(0.2rem);
  opacity: 0.2;
  width: 100%;
}

.project-header > h3 {
  margin: 1rem;
  position: absolute;
  text-align: center;
}

.project-description {
  margin: 2rem auto;
}

#contact > p {
  margin: 2rem 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

form label {
  margin: 0.25rem 0;
}

form input,
form textarea {
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  font-size: 1em;
  margin: 0 0 1rem 0;
  padding: 0.75em;
}

form button {
  margin: 0.25rem 0;
}

#formFeedback {
  margin-top: 1rem;
}

.error {
  color: var(--error);
}

.copyable-text-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.copyable-text {
  background: var(--foreground-inverse);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
}

.copy-button {
  align-items: center;
  border-radius: 0;
  display: flex;
  padding: 0.75em;
}

.copy-button svg {
  height: 1.5em;
  width: 1.5em;
}

.contact-link {
  align-items: center;
  color: var(--foreground);
  display: flex;
  font-size: min(3.6vw, 1em);
  justify-content: end;
  padding: 0.75em 1em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}

footer a {
  height: 2em;
  width: 2em;
  margin: 1rem;
  opacity: 0.75;
}

footer a:hover {
  opacity: 1;
}

.github {
  color: var(--github-logo);
}
